$black: #000000;
$white: #FFFFFF;
$darkBlue: #2E2EC8;
$background: #F3F4F6;
$green: #00D5AE;
$yellow: #F5BD01;
$textColor: #1E1E1E;
$paragraph100: #191B24;
$paragraph70: #272A39;
$paragraph50: #4A506D;
$paragraph10: #9EA3BD;
$paragraph05: #C2C6D6;
$light: #C2C6D6;
$pink: #F591CE;

$screen-sm-min: 576px;

$screen-md-min: 768px;

$screen-lg-min: 992px;

$screen-xl-min: 1200px;