@import '../utilities/variables';
@import '../utilities/responsive';

#apply {
    margin-top: 211.18px;
    background-image: url('/assets/icons/icons-frame.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    .card {
        background-color: $darkBlue;
        margin: 0 auto;
        padding: 96px 0;
        position: relative;
        z-index: 2;


        .card-head {
            text-align: center;

            .title {
                color: $white;
                font-size: 48px;
                margin-bottom: 4px;
            }

            .subtitle {
                color: $paragraph05;
                font-size: 16px;
                margin-bottom: 20px;
            }

            .icon-section {
                display: flex;
                gap: 4px;
                justify-content: center;

                .pink,
                .green {
                    transform: scaleY(-1);
                }
            }
        }

        form {
            padding: 0 220px;
            margin-top: 65.4px;

            label {
                color: $paragraph05;
                font-size: 18px;
                font-weight: 500;
            }

            input {
                padding: 16px;
                width: 100%;
                border: 1px solid $light;
                border-radius: 4px;
                outline: none;
                font-size: 18px;
                color: $textColor;

                &::placeholder {
                    font-size: 18px;
                    color: $paragraph10;
                }
            }

            .form-group:not(:last-child) {
                margin-bottom: 17.4px;
            }

            .button-wrapper {
                margin-top: 41.4px;
                text-align: center;
            }
        }

        .rectangle-one {
            position: absolute;
            top: 42.95px;
            left: -80px;
        }
    
        .rectangle-two {
            position: absolute;
            top: 260px;
            right: -80px;
        }
    }

    @include xs {

        .card {
            height: auto;
            width: 100%;

            form {
                padding: 0 60px;
            }
        }

        .rectangle-one {
            display: none;
        }
    
        .rectangle-two {
            display: none;
        }
    }

    @include sm {

        .card {
            height: auto;
            width: 100%;

            form {
                padding: 0 60px;
            }
        }

        .rectangle-one {
            display: none;
        }
    
        .rectangle-two {
            display: none;
        }
    }

    @include md {
        .card {
            height: auto;
            width: 100%;

            form {
                padding: 0 120px;
            }
        }

        .rectangle-one {
            display: none;
        }
    
        .rectangle-two {
            display: none;
        }
    }

    @include lg {
        .card {
            height: 858px;
            width: 1000px;

            form {
                padding: 0 220px;
            }
        }

        .rectangle-one {
            display: block;
        }
    
        .rectangle-two {
            display: block;
        }
    }

    @include xl {
        .card {
            height: 858px;
            width: 1200px;

            form {
                padding: 0 220px;
            }
        }

        .rectangle-one {
            display: block;
        }
    
        .rectangle-two {
            display: block;
        }
    }
}